$cardBack : #b6e2e7;
$navback :  black;
$blueColor:#2f81f7;
$borderColor: #3a3838;
$fontColor:#dfdfdf;
$bodyBack:#0d1117;
$err:#f51717;
$borderColor2:#5f5f5f;
$borderColor3:#1e1e1e;
$pinkColor:#ff69b4;
$golden:#ffd700;
$green:#148514;
$boxShadow: 0 0 35px 0 black;
$darkBlue:#003578;
$backIgnore: rgb(0 0 0 / 72%);
$darkBlack:rgba(0,0,0,.87);
*{
    font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: $bodyBack;
}
ul,ol{
    list-style: none;
}
a{
    font-weight: bold;
    color: $blueColor;
    text-decoration: none;
    &:hover{
        border-bottom: 1px solid $blueColor;
    }
}
button:disabled{
    pointer-events: none;
    cursor: not-allowed;
    background: $borderColor;
}
//p tag
.error-msg{
    margin-top: 0.3rem;
    color: $err;
    font-size: 0.8rem;
}
#addFolderInput{
    &::after {
        content: "Add Folder";
        left: 28px;
    }
}
input[type="file"]{
    width: 7rem;
    color: black;
    border: none;
    padding: 0;
    position: relative;
    &::before{
        position: absolute;
        pointer-events: none;
        inset: 6px 8px 6px 8px;
        content: "";
        background-image: url("../5.assets/upload.svg");
        background-repeat: no-repeat;
    }
    &::after {
        position: absolute;
        pointer-events: none;
        top: 4px;
        left: 30px;
        color: $blueColor;
        content: "Add File";
    }
    &::file-selector-button{
        outline: none;
        border: none;
        background: $borderColor3;
        cursor: pointer;
        width: 8rem;
        height: 2rem;
        color:transparent;
        @supports (-moz-appearance: none) {
            color: $blueColor;
        }
    }
    &:disabled{
        &::after, &::before{
            pointer-events: all;
            cursor: not-allowed;
        }
        cursor: not-allowed;
    }
}
//default select style
.dropdown{
    width: 7rem;
    border-radius: 0.3rem;
    background: inherit;
    border: 1px solid $borderColor;
    margin-left: 1rem;
    position: relative;
    .dropdown-main{
        padding: 0.3rem 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        svg{
            transition: all 0.2s ease-in-out;
        }
    }
    .dropdown-options{
        //display: none;
        border-radius: 0.3rem;
        border: 1px solid $borderColor;
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 120%;
        background: $navback;
        .dropdown-option{
            cursor: pointer;
            padding: 0.3rem 0.8rem;
            transition: all 0.1s ease-in-out;
            span{
                font-size: 0.8rem;
            }
            &:hover{
                background: $borderColor;
            }
        }
        .dropdown-option:not(:last-child){
            border-bottom: 1px solid $borderColor;
        }
    }
}
//default button style
button{
    border-radius: 0.2rem;
    outline: none;
    border: none;
    background: $darkBlue;
    float: right;
    color: $fontColor;
    //letter-spacing: 1px;
    cursor: pointer;
    width: 8rem;
    height: 2rem;
    &:disabled{
        pointer-events: unset;
        background: $darkBlue;
        cursor: not-allowed;
    }
}
.close-btn{
    background: $borderColor;
    &:disabled{
        pointer-events: unset;
        background: $borderColor;
        cursor: not-allowed;
    }
}
.revert-icon{
    rotate: 180deg;
}
//default input style
input{
    font-size: 1rem;
    background: inherit;
    outline: none;
    border-radius: 0.3rem;
    color:$fontColor;
    width: 100%;
    padding: 0.3rem 0.8rem;
    border: 1px solid  $borderColor;
    &:focus{
        outline: 2px solid $blueColor;
        border-color: transparent;
    }
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.8rem 2rem;
    background: black;
    color: $fontColor;
    position: relative;
    .nav-div{
        display: inline flex;
        background: inherit;
        .nav-heading{
            cursor: pointer;
            margin-left: 1rem;
            font-size: 1.3rem;
            background: inherit;
            font-weight: bold;
        }
        .nav-logo{
            padding-right: 1rem;
            display: flex;
            border-right: 2px solid $fontColor;
            background: inherit;
            img{
                height: 24.55px;
                width: 200px;
                background: inherit;
            }
        }
        div{

        }
    }
    .nav-links{
        background: inherit;
        ul{
            background: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            li{
                width: 2rem;
                height: 2rem;
                border-radius: 1rem;
                background: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 30ms ease-in-out;
                cursor: pointer;
                margin-left: 1rem;
                img{
                    width: 80%;
                }
                &:hover{
                    background: $borderColor;
                    svg{
                        fill:$blueColor;
                    }
                }
            }
        }
    }
}
//desing for the notification components
.notification-outer{
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 35px 0 black;
    border: 1px solid $borderColor;
    width: 30%;
    max-height: 30rem;
    overflow-y: auto;
    border-radius: 0.3rem;
    scrollbar-width: thin;
    scrollbar-color: $navback $borderColor;
    color:$fontColor;
    right: 4%;
    z-index: 1;
    position: absolute;
    background: $borderColor3;
    .notification-empty{
        display: flex;
        align-items: center;
        svg{
            fill: $err;
            margin-right: 0.6rem;
        }
    }
}
//design for the profileOptions component
.profile-options{
    position: absolute;
    right: 1%;
    z-index: 2;
    width: 25%;
    border-radius: 1.2rem;
    box-shadow: $boxShadow;
    .profile-options-outer{
        position: relative;
        border-radius: 1.2rem;
        background:$borderColor3;
        border: 1px solid $borderColor;
        color: $fontColor;
        display: flex;
        flex-direction: column;
        .profile-options-details{
            justify-content: space-between;
            padding: 1.5rem;
            display: flex;
            border-bottom: 1px solid $borderColor;
            div:first-child{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                img{
                    margin-right: 1rem;
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
        .profile-options-desc{
            display: flex;
            //border-bottom: 1px solid $borderColor;
            >div:first-child{
                border-right: 1px solid $borderColor;
            }
            >div{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                cursor: pointer;
                >svg{
                    margin-right: 0.4rem;
                }
                transition: all 0.1s ease-in-out;
                &:hover{
                    color: $blueColor;
                    svg{
                        fill: $blueColor;
                    }
                }
            }
        }
        .profile-logout-btn{
            transition: all 0.1s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.6rem;
            cursor: pointer;
            >svg{
                margin-right: 0.4rem;
            }
            &:hover{
                color: $blueColor;
                svg{
                    fill: $blueColor;
                }
            }
        }
    }
}

.invitation{
    display: flex;
    flex-direction: column;
    background: inherit;
    padding: 1rem;
    border-radius: 0.4rem;
    cursor: default;
    font-size: 0.9rem;
    transition: all 100ms ease-in-out;
    &:not(:last-child){
        border-bottom: 1px solid $borderColor;
    }
    .icon-and-msg{
        display: flex;
        align-items: center;
        svg{
            fill: $blueColor;
            margin-right: 0.6rem;
            font-size: 2rem;
        }
    }
    span{
        color: $blueColor;
    }
    .inviation-buttons{
        margin-top: 0.3rem;
        button:not(.close-btn){
            background: $darkBlue;
        }
        .close-btn{
            background: #282828;
        }
    }
    &:hover{
        background: $borderColor;
    }
}

.circularProgress{
    display: flex;
    padding: 0.3rem 0 0.4rem 2rem;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.7rem;
    span{
        margin-right: 0.5rem;
    }
}
.full-screen-blur{
    position: absolute;
    inset: 0 0 0 0;
    //backdrop-filter: blur(0.5px);
    z-index: 3;
}