@import "./globle.scss";

// style for the topic component
.topic-outer {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    background-color: $cardBack;
    border-radius: 1rem;
    cursor: pointer;
    &:hover{
        box-shadow: 0 0px 1px 1px rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    }
    .topic-background {
        background-image: url('https://wallpapers.com/images/hd/study-background-csdn2xd7eo43wtho.jpg');
        background-size: cover;
        height: 100%;
        border-radius: inherit;
        margin: 1rem;
        .topic-options {}
    }

    .topic-info {
        margin: 1rem;

        .topic-detail {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            .photo {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background: transparent;
                width: 25%;
                img {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 3rem;
                }
            }

            .desc {
                padding: 0 1rem;
                div{
                }
                p {
                    text-align: justify;
                    font-size: 0.8rem;
                }
            }
        }

        .topic-footer {
            div{
                font-size: 0.8rem;
                //color: ;
                float: right;
                font-weight: bold;
            }
            margin-top: 0.3rem
        }
    }

}