@import "globle";

.material-outer{
  color: $fontColor;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100vh;
    .material-structure{
      width: 22%;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      height: 100%;
      padding: 1rem;
      border-right: 1px solid $borderColor;
      &::-webkit-scrollbar {
        display: none;
      }
         .material-structure-search{
           width: 100%;
           position: relative;
           svg{
             position: absolute;
             left: 6px;
             border-right: 1px solid $borderColor;
             height: 100%;
             padding-right: 3px;
           }
           input{
             padding-left: 3rem;
           }
           &:focus-within{
             svg{
               border-color: $blueColor;
             }
           }
         }
        .material-structure-info{
          position: relative;
          margin-top: 1rem;
        }

    }
    .material-screen{
      width: 78%;
      height: 100%;
      padding: 1rem;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      .material-screen-path{

      }
      .material-screen-info{
        height: 100%;
        border-radius: 0.3rem;
        border: 1px solid $borderColor;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        &::-webkit-scrollbar{
          width: 0;
        }
        .material-screen-heading{
          display: flex;
          align-items: center;
          border-bottom: 1px solid $borderColor;
          justify-content: space-between;
          border-radius: 0.3rem 0.3rem 0 0;
          background: $borderColor3;
          font-size: 0.9rem;
          .material-screen-heading-options{
            display: flex;
            align-items: center;
          }
          .material-screen-heading-name{
            padding: 0.65rem 1rem;
          }
        }
        .folder-info-outer,.file-info-outer{
          border-bottom: 1px solid $borderColor;
          display: flex;
          justify-content: space-between;
          .folder-info,.file-info{
            display: flex;
            align-items: center;
            padding: 0.65rem 1rem;
            svg{
              font-size: 1.2rem;
              fill: #dfdfdf;
              margin-right: 0.8rem;
            }
            span {
              cursor: pointer;
              font-size: 0.9rem;

              &:hover {
                color: $blueColor;
                text-decoration: underline;
              }
            }
          }
          .folder-info-options,.file-info-options{

          }
          &:hover:not(.content-screen){
            background: $borderColor3;
          }
        }
      }
    }
}



//style for the folderstructure component
.folder-structure-outer{
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 0.4rem;
  .folder-structure-angular{
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    padding: 0.5rem 0;
    font-size: 0rem;
    &:hover{
      background: $borderColor2 ;
    }
  }
  .folder-structure-folder{
    padding: 0.5rem 0;
    display: flex;
    .folder-structure-name{
      margin-left: 0.4rem;
      font-size: 0.85rem;
    }
  }
  svg{
    font-size: 1.2rem;
    fill: $fontColor;
  }
  &:hover{
    background: $borderColor;
  }
}

//style for the filestructure compoonent
.file-structure-outer{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.4rem 0 0.4rem 1.1rem ;
  border-radius: 0.4rem;
  >span{
    margin-left: 0.4rem;
    font-size: 0.85rem;
  }
  svg{
    font-size: 1.2rem;
    fill: $fontColor;
  }
  &:hover{
    background: $borderColor;
  }
}

//style for the Path component
.path-outer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .path{
    ol{
      display: flex;
      align-items: center;
      color:$fontColor;
      li{
        .span-link{
          margin-left: 0.3rem;
          margin-right: 0.3rem;
          cursor: pointer;
          color: $blueColor;
          &:hover{
            border-bottom: 1px solid $blueColor;
          }
        }
      }
    }
  }
  .path-right{
    display: flex;
    align-items: center;
    .path-add-file{
      padding: 0.3rem 0.8rem;
      background: $borderColor3;
      display: flex;
      border-radius: 0.3rem;
      align-items: center;
      cursor: pointer;
      border: 1px solid $borderColor2;
      &:hover{
        border-color: $fontColor;
        background: $borderColor;
      }
      button{
        font-weight: bold;
        background: transparent;
        width: auto;
        height: auto;
        margin-right: 0.1rem;
        letter-spacing: normal;
      }
      svg{font-size: 1.2rem;}
    }
    .path-add-file-extension{
      z-index: 3;
      position: absolute;
      top: 2.3rem;
      right: 2.45rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: $bodyBack;
      border: 1px solid $borderColor;
      padding: 0.5rem;
      border-radius: 0.3rem;
      box-shadow: 0 0px 1px 0px rgb(240 240 240);
      div{
        padding: 0.3rem;
        border-radius: 0.3rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        &:hover{
          background: $borderColor;
        }
        >input{
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }
        svg{font-size: 1.2rem;margin-right: 0.4rem;}
      }
    }
    .path-options{
      padding: 0.2rem;
      margin-left: 0.5rem;
      background: $borderColor3;
      justify-content: space-between;
      display: flex;
      border-radius: 0.3rem;
      align-items: center;
      cursor: pointer;
      border: 1px solid $borderColor2;
      &:hover{
        border-color: $fontColor;
        background: $borderColor;
      }
    }
  }
}

//style for the uploadScreen
.upload{
  position: fixed;
  inset: 0 0 0 0;
  height: 100%;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  .upload-outer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: black;
    padding: 1rem;
    border: 1px solid $borderColor;
    border-radius: 0.4rem;
    position: absolute;
    top:2rem;
    width: 64%;
    .upload-heading{
      font-weight: 400;
      color: $blueColor;
      font-size: 1.7rem;
      border-bottom: 1px solid;
      padding: 0.2rem 0;
    }
    .upload-area{
      display: flex;
      justify-content: space-between;
      .upload-info{
        width: 49%;
        margin-top: 1rem;
        position: relative;
        height: 14rem;
        overflow-y: scroll;
        border: 1px solid $borderColor;
        border-radius: 0.3rem;
        -ms-overflow-style: none;
        scrollbar-width: none;
        .upload-input{
          background: $borderColor3;
          border-bottom: 1px solid $borderColor;
        }
          span{
            padding: 0.3rem 1rem;
            display: block;
          }
        &::-webkit-scrollbar{
          width: 0;
        }
      }
      .upload-drag-area{
        width: 49%;
        margin-top: 1rem;
        position: relative;
        height: 14rem;
        border: 1px solid $borderColor;
        border-radius: 0.3rem;
        .upload-input{
          position: sticky;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: $borderColor3;
          border-bottom: 1px solid $borderColor;
          >span{
            padding-left: 1rem;
          }
        }
        .upload-drag-area-div{
          display: flex;
          margin: 0.3rem;
          justify-content: center;
          height: 80%;
          color: $blueColor;
          border: 1px dashed $borderColor;
        }
      }
    }
    .upload-control{
      display: flex;
      flex-direction: column;
      .upload-buttons{
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
        .close-btn{
          margin-right: 1rem;
        }
      }
    }
  }
}

//style for the upload-file component
.upload-file{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  font-size: 0.85rem;
  .upload-file-info{
    display: flex;
    align-items: center;
    svg{
      font-size: 1.1rem;
    }
  }
  .upload-file-close{
    cursor: pointer;
    svg{
      font-size: 1rem;
    }
  }
  &:hover{
    background: $borderColor3;
  }
}

.content-screen{
  height: 100%;
  overflow-y: scroll;
  padding: 0;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }
  iframe{
    height: 100%;
    width: 100%;
    border: none;
  }
  pre{
    line-height: 25px;
    height: 100%;
    width: 100%;
    font-size: 14px;
    code{
      min-height: 100%;
      background: transparent;
    }
  }
}

//create folder component style
.create-folder{
  position: absolute;
  inset: 0 0 0 0 ;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  .create-folder-outer{
    display: flex;
    flex-direction: column;
    width: 32%;
    justify-content: center;
    background: $navback;
    padding: 1rem;
    border-radius: 0.3rem;
    border:1px solid $borderColor;
    position: absolute;
    top: 2rem;
    .create-folder-heading{
      h4{
        font-weight: 200;
        color: #2f81f7;
        font-size: 1.7rem;
        border-bottom: 1px solid;
        padding: 0.2rem 0;
      }
    }
    .create-folder-input{
      margin-top: 1rem;
      input{
        &:focus{
          outline: none;
          border:1px solid $borderColor;
        }
      }
    }
    .create-folder-buttons{
      margin-top: 1rem;
      .close-btn{
        margin-right: 1rem;
      }
    }
  }
}
//textwithicon component style
.text-with-icon{
  display: flex;
  align-items: center;
  padding: 0.3rem 0.6rem;
  border: 1px solid $borderColor;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 0.75rem;
  transition: background-color 100ms ease-in-out;
  margin-right: 1rem;
  &:hover{
    background-color: $borderColor;
  }
  svg{
    font-size: 1.35rem;
    margin-right: 0.4rem;
  }
}